* {
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background-color: #F5F5F5;
}

#nav-bar {
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

#nav-bar li {
    display: inline;
    padding: 3px;
    border: 2px solid black;
    font-weight: bold;
    background-color: #ECD9BA;
}

#nav-bar a:link {
    color: black;
    text-decoration: none;
}

#nav-bar a:visited {
    color: black;
    text-decoration: none;
}

figcaption {
    font-size: small;
}